version: "3"

services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    volumes:
      - ./src:/var/www
    container_name: pai_katsu_app

  web:
    image: nginx:stable
    ports:
      - "8000:80"
    volumes:
      - ./src:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: mysql:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: pai_katsu_db
      MYSQL_USER: pai
      MYSQL_PASSWORD: tigers
    ports:
      - "3306:3306"
    volumes:
      - pai_sql_data:/var/lib/mysql

volumes:
  pai_sql_data:
