/* basic width */
.wrap {
    width: min(100%, 1220px);
    padding: 0 10px;
    margin: 0 auto;
}

/* display flex */
.flex {
    display: flex;
}

/* display contents */
.contents {
    display: contents;
}

/* main content area */
.main {
    padding: 30px 0;
}
